.container {
  margin: 20px auto;
  max-width: 2000px;
  width: 80%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 8px;
}

.col-md-5 {
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 25px;
}